<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车案例</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <div v-if="books.length">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(items, index) in books">
                <!-- 不建议这样做，拓展起来不方便 -->
                <!--            <td v-for="item in items">{{item}}</td>-->
                <td>{{items.id}}</td>
                <td>{{items.name}}</td>
                <td>{{items.date}}</td>
                <td>{{items.price | showPrice}}</td>
                <td>
                    <button @click="oncrement(index)" v-bind:disabled="items.count <= 1">-</button>
                    {{items.count}}
                    <button @click="increment(index)">+</button>
                </td>
                <td>
                    <button @click="btnRemove(index)">移除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h2>总价格： {{totalPrice | showPrice}}</h2>
    </div>
    <h2 v-else>购物车为空</h2>
</div>

<script src="../js/vue.js"></script>
<script src="main.js"></script>
</body>
</html>