<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!-- 单选框 -->
    <h2>单选框</h2>
    <label for="agreeId">
        <input type="checkbox" id="agreeId" v-model="isAgree">同意协议
    </label>
    <h2>您选择的是:{{isAgree}}</h2>
    <button v-bind:disabled="!isAgree">下一步</button>


    <!-- 多选框 -->
    <h2>多选框</h2>
    <label>
        <input type="checkbox" value="篮球" v-model="loveList">篮球
    </label>
    <label>
        <input type="checkbox" value="足球" v-model="loveList">足球
    </label>
    <label>
        <input type="checkbox" value="lol" v-model="loveList">lol
    </label>
    <label>
        <input type="checkbox" value="DNF" v-model="loveList">DNF
    </label>
    <h2>您的爱好是:{{loveList}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            message: "wls",
            isAgree: false,
            loveList: []
        }
    })
</script>
</body>
</html>